@model StoreFront.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<!-- Contact Us Page Header -->
<section class="page-header">
    <div class="container px-3 py-0">
        <h1>@ViewBag.Title</h1>
    </div>
</section>

<div class="bg-white min-vh-100">
    <!-- Email Confirmation Section -->
    <section class="container px-3 py-5">
        <div class="alert alert-success my-3 px-5">
            <h2>Your message was sent.</h2>
        </div>
        <div class="col-md-10 py-5">
            <h2 class="text-primary">Thank you for contacting us.</h2>
            <p>We will reply to you soon!</p>
        </div>
        <div class="container py-2 px-5">
            <h4><span class="text-muted">From:</span> @Model.Name (@Model.Email)</h4>
            <h4><span class="text-muted">Subject:</span> @Model.Subject</h4>
            <h4 class="text-muted d-inline-block">Message:</h4>
            <p class="d-inline-block">@Model.Message</p>
        </div>
    </section>
</div>