@model StoreFront.UI.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!-- Register Section -->
<div class="min-height-70 container d-flex align-items-center">
    <section class="container p-3">
        <h1 class="text-uppercase text-primary">@ViewBag.Title</h1>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @* The following three inputs were added for custom User Details *@

            <div class="form-group">
                <h4 class="text-uppercase col-md-8 p-2 my-3">First Name</h4>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <h4 class="text-uppercase col-md-8 p-2 my-3">Last Name</h4>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <h4 class="text-uppercase col-md-8 p-2 my-3">Birthday (MM/DD/YYYY)</h4>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.BirthDay, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <h4 class="text-uppercase col-md-8 p-2 my-3">Email</h4>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <h4 class="text-uppercase col-md-8 p-2 my-3">Password</h4>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <h4 class="text-uppercase col-md-8 p-2 my-3">Confirm Password</h4>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 my-3">
                    <input type="submit" class="btn btn-primary btn-lg" value="Create New Account" />
                </div>
            </div>
        }
    </section>
</div>

<!-- Login Banner -->
<div class="bg-primary py-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 p-3 text-left">
                <h3 class="text-uppercase mb-3">Already registered?</h3>
                <a class="btn btn-outline-light" style="text-align: left;" href="@Url.Action("Register", "Account")">Log in here</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
