@using Microsoft.AspNet.Identity
@using StoreFront.Data.EF

@if (Request.IsAuthenticated)
{
    StoreFrontEntities db = new StoreFrontEntities();
    string userID = User.Identity.GetUserId();
    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();
    string userFN = "Guest";

    if (currentUser != null)
    {
        userFN = currentUser.FirstName;
    }

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="hpDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
        <ul class="dropdown-menu" aria-labelledby="hpDropdown">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li>
                    <a class="dropdown-item text-uppercase border-bottom" href="javascript:document.getElementById('logoutForm').submit()" role="button">
                        <i class="fas fa-sign-out-alt me-2"></i>Log out
                    </a>
                </li>
            }
            @if (Session["cart"] != null)
            {
                <li>
                    <a class="dropdown-item text-uppercase border-bottom" href="@Url.Action("Index", "ShoppingCart")">
                        <i class="fas fa-shopping-cart me-2"></i>Cart
                    </a>
                </li>
            }
        </ul>
    </li>
    
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="hpDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
        <ul class="dropdown-menu" aria-labelledby="hpDropdown">
            <li>
                <a class="dropdown-item text-uppercase border-bottom" href="@Url.Action("Register", "Account", routeValues: null)" id="registerLink">
                    <i class="fas fa-user me-2"></i>Register
                </a>
            </li>
            <li>
                <a class="dropdown-item text-uppercase border-bottom" href="@Url.Action("Login", "Account", routeValues: null)" id="loginLink">
                    <i class="fas fa-sign-in-alt me-2"></i>Login
                </a>
            </li>
            @if (Session["cart"] != null)
            {
                <li>
                    <a class="dropdown-item text-uppercase border-bottom" href="@Url.Action("Index", "ShoppingCart")">
                        <i class="fas fa-shopping-cart me-2"></i>Cart
                    </a>
                </li>
            }
        </ul>
    </li>

    @*<li class="nav-item">
        <a href="@Url.Action("Register", "Account", routeValues: null)" id="registerLink" class="nav-link">
            <i class="fas fa-user me-2"></i>Register
        </a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Login", "Account", routeValues: null)" id="loginLink" class="nav-link">
            <i class="fas fa-sign-in-alt me-2"></i><span class="d-none d-md-inline-block">Login</span>
        </a>
    </li>*@
}

@* TODO: Add font-awesome icons to LoginPartial?
    <div class="d-flex justify-content-md-end justify-content-between">
         <ul class="list-inline mb-0">
             <li class="list-inline-item"><a class="text-xs text-uppercase fw-bold text-reset" href="@Url.Action("Login", "Account")"><i class="fas fa-sign-in-alt me-2"></i><span class="d-none d-md-inline-block">Login</span></a></li>
             <li class="list-inline-item"><a class="text-xs text-uppercase fw-bold text-reset" href="@Url.Action("Register", "Account")"><i class="fas fa-user me-2"></i><span class="d-none d-md-inline-block">Register</span></a></li>
         </ul>
    </div>
*@

@* TODO: Convert Login Modal from template?
    <!-- Login Modal-->
    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase" id="login-modalLabel">Customer Login</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="customer-orders.html" method="get">
                        <div class="form-group mb-3">
                            <input class="form-control" id="email_modal" type="text" placeholder="email">
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control" id="password_modal" type="password" placeholder="password">
                        </div>
                        <p class="text-center">
                            <button class="btn btn-outline-primary"><i class="fas fa-door-open"></i> Log in</button>
                        </p>
                    </form>
                    <p class="text-center text-muted small">Not registered yet?</p>
                    <p class="text-center text-muted small"><a href="customer-register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Login modal end-->
*@
