@{
    ViewBag.Title = "Home";
}

<!-- Featured Product Banner -->
<section id="WelcomeBanner" class="d-flex align-items-center justify-content-center">
    <h1>Retro Tech</h1>
</section>

<!-- Intro Hero -->
<section class="text-white text-center min-vw-100" id="IndexHero">
    <div class="container py-5">
        <h1 class="text-uppercase mt-5">Restored Vintage Technology</h1>
        @Html.ActionLink("About Us", "About", "Home", null, new { @class = "btn btn-primary btn-lg mt-3 mb-5" })
    </div>
</section>

<!-- Product Categories Section -->
<section class="py-5">
    <div class="container py-4">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="text-center align-items-center category-icon-lg">
                    <a href="@Url.Action("Index", "Products")">
                        <img src="~/Content/img/music-icon.png" />
                    </a>
                    <a href="@Url.Action("Index", "Products")"><h4 class="text-uppercase mb-3">Sony Walkmans</h4></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="text-center align-items-center category-icon-lg">
                    <a href="@Url.Action("Index", "Products")">
                        <img src="~/Content/img/videogames-icon.png" />
                    </a>
                    <a href="@Url.Action("Index", "Products")">
                        <h4 class="text-uppercase mb-3">NES CONSOLES &amp; CARTRIDGES</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="text-center align-items-center category-icon-lg">
                    <a href="@Url.Action("Index", "Products")">
                        <img src="~/Content/img/gameboy-icon.png" />
                    </a>

                    <a href="@Url.Action("Index", "Products")">
                        <h4 class="text-uppercase mb-3">GAME BOYS &amp; CARTRIDGES</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register Banner -->
<div class="bg-primary py-3 text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 p-3 text-left">
                <h3 class="text-uppercase mb-3">First time visitor?</h3>
                <a class="btn btn-outline-light" style="text-align: left;" href="@Url.Action("Register", "Account")">Register here</a>
            </div>
        </div>
    </div>
</div>