@{
    ViewBag.Title = "Home";
}

<!-- Featured Product Banner -->
<section id="WelcomeBanner">
    <h1>Retro Tech</h1>
    <p>Yesterday's future - available today.</p>
</section>

<!-- Product Categories Section -->
<section id="ProductCategories">
    <h1>Current Products</h1>
    <a class="category-card" href="@Url.Action("Index", "Products", new { categoryFilter = "Game Boy" })">
        <img src="~/Content/img/gameboy-icon.png" class="img-fluid" />
        <h2>Game Boy</h2>
    </a>
    <a class="category-card" href="@Url.Action("Index", "Products", new { categoryFilter = "NES" })">
        <img src="~/Content/img/videogames-icon.png" class="img-fluid" />
        <h2>NES</h2>
    </a>
    <a class="category-card" href="@Url.Action("Index", "Products", new { categoryFilter = "Walkman" })">
        <img src="~/Content/img/music-icon.png" class="img-fluid" />
        <h2>Walkman</h2>
    </a>
</section>



<!-- Featured Product Banner -->
<section id="FeatureBanner">
    <img src="~/Content/img/tps-l2-feature.jpg" />
    <h2>Sony TPS-L2 <span class="text-gray-500">| Featured Product</span></h2>
    @Html.ActionLink("Purchase", "Details", "Products", routeValues: new { id = 1 }, htmlAttributes: new { @class = "btn btn-success" })
</section>

<!-- Register Banner -->
<div class="bg-primary py-3 text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 p-3 text-left">
                <h3 class="text-uppercase mb-3">First time visitor?</h3>
                <a class="btn btn-outline-light" style="text-align: left;" href="@Url.Action("Register", "Account")">Register here</a>
            </div>
        </div>
    </div>
</div>