@{
    ViewBag.Title = "Home";
}

<!-- Intro Hero -->
<section class="text-white bg-primary" id="IndexHero">
    <div class="container py-5">
        <div class="row py-3 gx-5">
            <div class="col-md-6">
                <a href="@Url.Action("Index", "Products")">
                    <img class="ml-auto img-fluid" src="~/Content/img/logo.png" alt="Retro Tech logo">
                </a>
            </div>
            <div class="col-md-3">
                <h1 class="text-uppercase">Restored Vintage Technology</h1>
            </div>
        </div>
    </div>
</section>

<!-- Product Categories Section -->
<section class="py-5">
    <div class="container py-4">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="text-center align-items-center category-icon-lg">
                    <a href="@Url.Action("Index", "Products")">
                        <img src="~/Content/img/music-icon.png" />
                    </a>
                    <a href="@Url.Action("Index", "Products")"><h4 class="text-uppercase mb-3">Sony Walkmans</h4></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="text-center align-items-center category-icon-lg">
                    <a href="@Url.Action("Index", "Products")">
                        <img src="~/Content/img/videogames-icon.png" />
                    </a>
                    <a href="@Url.Action("Index", "Products")">
                        <h4 class="text-uppercase mb-3">NES CONSOLES &amp; CARTRIDGES</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="text-center align-items-center category-icon-lg">
                    <a href="@Url.Action("Index", "Products")">
                        <img src="~/Content/img/gameboy-icon.png" />
                        <h4 class="text-uppercase mb-3">GAME BOYS &amp; CARTRIDGES</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register Banner -->
<div class="bg-primary py-3 text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 p-3 text-left">
                <h3 class="text-uppercase mb-3">First time visitor?</h3>
                <a class="btn btn-outline-light" style="text-align: left;" href="@Url.Action("Register", "Account")">Register here</a>
            </div>
        </div>
    </div>
</div>